PORT=4000
CLIENT_URL=http://localhost:5173
DATABASE_URL="mysql://admin:admin@HOST:3306/saravana_crackers"
JWT_SECRET=123saravanacrackers
COOKIE_SECURE=false
ADMIN_EMAIL=vishwamsd7@gmail.com
ADMIN_PASSWORD=Vishwa@123
SHOP_WHATSAPP=6374864273
